footer {

    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 32px;
    text-align: center;

}

.block {

    display: flex;
    align-items: flex-end;
    column-gap: 8px;

}

.block i {

    font-size:  54px;
}


.block div {

    display: flex;
    flex-direction: column;

}

.block div strong {

    font-size: 28px;
    line-height: 0.6;
}

